/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
    delay-ms = <0>;
    time-to-max-speed-ms = <1500>;
    acceleration-exponent = <1>;
};

/ {
    behaviors {
        u_to_U_base: u_to_U_base {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_BASE";
            #binding-cells = <0>;
            bindings = <&none>, <&to 0>;
        };

        u_to_U_game: u_to_U_game {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_GAME";
            #binding-cells = <0>;
            bindings = <&none>, <&to 2>;
        };

        u_to_U_nav: u_to_U_nav {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_NAV";
            #binding-cells = <0>;
            bindings = <&none>, <&to 4>;
        };

        u_to_U_num: u_to_U_num {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_NUM";
            #binding-cells = <0>;
            bindings = <&none>, <&to 7>;
        };

        u_to_U_media: u_to_U_media {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_MEDIA";
            #binding-cells = <0>;
            bindings = <&none>, <&to 6>;
        };

        u_to_U_fun: u_to_U_fun {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_FUN";
            #binding-cells = <0>;
            bindings = <&none>, <&to 9>;
        };

        u_to_U_mouse: u_to_U_mouse {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_MOUSE";
            #binding-cells = <0>;
            bindings = <&none>, <&to 5>;
        };

        u_to_U_sym: u_to_U_sym {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_SYM";
            #binding-cells = <0>;
            bindings = <&none>, <&to 8>;
        };

        u_bootloader: u_bootloader {
            compatible = "zmk,behavior-tap-dance";
            label = "U_BOOTLOADER";
            #binding-cells = <0>;
            bindings = <&none>, <&u_bootloader>;
        };

        u_bt_sel_0: u_bt_sel_0 {
            compatible = "zmk,behavior-mod-morph";
            label = "U_BT_SEL_0";
            bindings = <&bt BT_SEL 0>, <&u_macro_u_bt_sel_0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_1: u_bt_sel_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "U_BT_SEL_1";
            bindings = <&bt BT_SEL 1>, <&u_macro_u_bt_sel_1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_2: u_bt_sel_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "U_BT_SEL_2";
            bindings = <&bt BT_SEL 2>, <&u_macro_u_bt_sel_2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_3: u_bt_sel_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "U_BT_SEL_3";
            bindings = <&bt BT_SEL 3>, <&u_macro_u_bt_sel_3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_bt_sel_4: u_bt_sel_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "U_BT_SEL_4";
            bindings = <&bt BT_SEL 4>, <&u_macro_u_bt_sel_4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_out_tog: u_out_tog {
            compatible = "zmk,behavior-mod-morph";
            label = "U_OUT_TOG";
            bindings = <&out OUT_TOG>, <&out OUT_USB>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_caps_word: u_caps_word {
            compatible = "zmk,behavior-mod-morph";
            label = "U_CAPS_WORD";
            bindings = <&caps_word>, <&kp CAPS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_to_U_tapcmdh: u_to_U_tapcmdh {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_TAPCMDH";
            #binding-cells = <0>;
            bindings = <&none>, <&to 1>;
        };

        home_row_mod_left: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            quick-tap-ms = <175>;
            tapping-term-ms = <280>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <30 31 32 33 34 18 19 20 21 22 30 31 32 33 34 44 45 46 47 48 6 7 8 9 10 49 11 23 35>;
        };

        home_row_mod_right: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 37 38 39 40 41 36>;
            hold-trigger-on-release;
        };

        u_to_U_button: u_to_U_button {
            compatible = "zmk,behavior-tap-dance";
            label = "U_TO_U_BUTTON";
            #binding-cells = <0>;
            bindings = <&none>, <&to 3>;
        };

        auto_shift: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        game_fkey1: game_fkey1 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY1";
            bindings = <&kp NUMBER_1>, <&kp F1>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey2: game_fkey2 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY2";
            bindings = <&kp NUMBER_2>, <&kp F2>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey3: game_fkey3 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY3";
            bindings = <&kp NUMBER_3>, <&kp F3>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey4: game_fkey4 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY4";
            bindings = <&kp NUMBER_4>, <&kp F4>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey5: game_fkey5 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY5";
            bindings = <&kp NUMBER_5>, <&kp F5>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey6: game_fkey6 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY6";
            bindings = <&kp NUMBER_6>, <&kp F6>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey7: game_fkey7 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY7";
            bindings = <&kp NUMBER_7>, <&kp F7>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey8: game_fkey8 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY8";
            bindings = <&kp NUMBER_8>, <&kp F8>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey9: game_fkey9 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY9";
            bindings = <&kp NUMBER_9>, <&kp F9>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey10: game_fkey10 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY10";
            bindings = <&kp NUMBER_0>, <&kp F10>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey11: game_fkey11 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY11";
            bindings = <&kp ESCAPE>, <&kp F11>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        game_fkey12: game_fkey12 {
            compatible = "zmk,behavior-mod-morph";
            label = "GAME_FKEY12";
            bindings = <&kp GRAVE>, <&kp F12>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        DUALLOCK {
            bindings = <&kp CAPS>;
            key-positions = <28 31>;
            layers = <0>;
        };
    };

    macros {
        u_macro_u_bt_sel_0: u_macro_u_bt_sel_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
            label = "U_MACRO_U_BT_SEL_0";
        };

        u_macro_u_bt_sel_1: u_macro_u_bt_sel_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
            label = "U_MACRO_U_BT_SEL_1";
        };

        u_macro_u_bt_sel_2: u_macro_u_bt_sel_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
            label = "U_MACRO_U_BT_SEL_2";
        };

        u_macro_u_bt_sel_3: u_macro_u_bt_sel_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
            label = "U_MACRO_U_BT_SEL_3";
        };

        u_macro_u_bt_sel_4: u_macro_u_bt_sel_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &bt BT_CLR>;
            label = "U_MACRO_U_BT_SEL_4";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
&kp ESC         &kp NUMBER_1                   &kp NUMBER_2                   &kp NUMBER_3                &kp NUMBER_4                     &kp NUMBER_5                            &kp NUMBER_6     &kp NUMBER_7                      &kp NUMBER_8                        &kp NUMBER_9                    &kp NUMBER_0                    &kp GRAVE
&kp TAB         &kp Q                          &kp W                          &kp F                       &kp P                            &kp B                                   &kp J            &kp L                             &kp U                               &kp Y                           &kp SQT                         &kp BACKSLASH
&kp LEFT_SHIFT  &home_row_mod_left LEFT_GUI A  &home_row_mod_left LEFT_ALT R  &home_row_mod_left LCTRL S  &home_row_mod_left LEFT_SHIFT T  &kp G                                   &kp M            &home_row_mod_right LEFT_SHIFT N  &home_row_mod_right LEFT_CONTROL E  &home_row_mod_right LEFT_ALT I  &home_row_mod_right LEFT_GUI O  &kp SEMI
&kp LCTRL       &lt 3 Z                        &home_row_mod_left RALT X      &kp C                       &kp D                            &kp V         &kp LC(C)    &kp LC(V)    &kp K            &kp H                             &kp COMMA                           &home_row_mod_right RALT DOT    &lt 3 FSLH                      &kp GRAVE
                                                                              &kp LC(Z)                   &lt 6 ESCAPE                     &lt 4 SPACE   &lt 5 TAB    &lt 8 ENTER  &lt 7 BACKSPACE  &lt 9 DELETE                      &kp LC(Y)
            >;

            label = "Base";
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&kp ESC         &kp NUMBER_1                   &kp NUMBER_2                   &kp NUMBER_3                &kp NUMBER_4                     &kp NUMBER_5                            &kp NUMBER_6     &kp NUMBER_7                      &kp NUMBER_8                        &kp NUMBER_9                    &kp NUMBER_0                      &kp GRAVE
&kp TAB         &kp Q                          &kp W                          &kp E                       &kp R                            &kp T                                   &kp Y            &kp U                             &kp I                               &kp O                           &kp P                             &kp BACKSLASH
&kp LEFT_SHIFT  &home_row_mod_left LEFT_GUI A  &home_row_mod_left LEFT_ALT S  &home_row_mod_left LCTRL D  &home_row_mod_left LEFT_SHIFT F  &kp G                                   &kp H            &home_row_mod_right LEFT_SHIFT J  &home_row_mod_right LEFT_CONTROL K  &home_row_mod_right LEFT_ALT L  &home_row_mod_right LEFT_GUI SQT  &kp SEMICOLON
&kp LCTRL       &lt 3 Z                        &home_row_mod_left RALT X      &kp C                       &kp V                            &kp B         &kp LC(C)    &kp LC(V)    &kp N            &kp M                             &kp COMMA                           &home_row_mod_right RALT DOT    &lt 3 FSLH                        &kp GRAVE
                                                                              &kp LC(Z)                   &lt 6 ESCAPE                     &lt 4 SPACE   &lt 5 TAB    &lt 8 ENTER  &lt 7 BACKSPACE  &lt 9 DELETE                      &kp LC(Y)
            >;

            label = "Extra";
        };

        GAME {
            display-name = "Game";
            bindings = <
&game_fkey11    &game_fkey1  &game_fkey2  &game_fkey3   &game_fkey4   &game_fkey5                             &game_fkey6    &game_fkey7  &game_fkey8  &game_fkey9  &game_fkey10   &game_fkey12
&kp TAB         &kp Q        &kp W        &kp E         &kp R         &kp T                                   &kp Y          &kp U        &kp I        &kp O        &kp P          &kp BACKSLASH
&kp LEFT_SHIFT  &kp A        &kp S        &kp D         &kp F         &kp G                                   &kp H          &kp J        &kp K        &kp L        &kp SEMICOLON  &kp SQT
&kp LCTRL       &kp Z        &kp X        &kp C         &kp V         &kp B        &kp EQUAL    &u_to_U_base  &kp N          &kp M        &kp COMMA    &kp DOT      &kp SLASH      &kp RSHFT
                                          &kp LEFT_GUI  &kp LEFT_ALT  &kp SPACE    &kp MINUS    &kp ENTER     &kp BACKSPACE  &kp DEL      &kp RALT
            >;

            label = "Game";
        };

        BUTTON {
            display-name = "Button";
            bindings = <
&none  &none         &none         &none      &none       &none                            &none      &none           &none      &none         &none         &none
&none  &kp LC(Z)     &kp LC(X)     &kp LC(C)  &kp LC(V)   &kp LC(Y)                        &kp LC(Y)  &kp LC(V)       &kp LC(C)  &kp LC(X)     &kp LC(Z)     &none
&none  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LSHIFT  &kp LC(A)                        &kp LC(A)  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &none
&none  &kp LC(Z)     &kp LC(X)     &kp LC(C)  &kp LC(V)   &kp LC(Y)  &none       &none     &kp LC(Y)  &kp LC(V)       &kp LC(C)  &kp LC(X)     &kp LC(Z)     &none
                                   &none      &mkp MB3    &mkp MB1   &mkp MB2    &mkp MB2  &mkp MB1   &mkp MB3        &none
            >;

            label = "Button";
        };

        NAV {
            display-name = "Nav";
            bindings = <
&none  &none          &none            &none         &none           &none                      &none          &none      &none          &none         &none      &none
&none  &u_bootloader  &u_to_U_tapcmdh  &u_to_U_game  &u_to_U_base    &none                      &kp LC(Y)      &kp LC(V)  &kp LC(C)      &kp LC(X)     &kp LC(Z)  &none
&none  &kp LEFT_GUI   &kp LEFT_ALT     &kp LCTRL     &kp LEFT_SHIFT  &none                      &u_caps_word   &kp LEFT   &kp DOWN       &kp UP_ARROW  &kp RIGHT  &none
&none  &none          &kp RALT         &u_to_U_num   &u_to_U_nav     &none  &none    &none      &kp INS        &kp HOME   &kp PAGE_DOWN  &kp PAGE_UP   &kp END    &none
                                       &none         &none           &none  &none    &kp ENTER  &kp BACKSPACE  &kp DEL    &none
            >;

            label = "Nav";
        };

        MOUSE {
            display-name = "Mouse";
            bindings = <
&none  &none          &none            &none         &none           &none                     &none      &none           &none           &none         &none            &none
&none  &u_bootloader  &u_to_U_tapcmdh  &u_to_U_game  &u_to_U_base    &none                     &kp LC(Y)  &kp LC(V)       &kp LC(C)       &kp LC(X)     &kp LC(Z)        &none
&none  &kp LEFT_GUI   &kp LEFT_ALT     &kp LCTRL     &kp LEFT_SHIFT  &none                     &none      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none  &none          &kp RALT         &u_to_U_sym   &u_to_U_mouse   &none  &none    &none     &none      &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
                                       &none         &none           &none  &none    &mkp MB2  &mkp MB1   &mkp MB3        &none
            >;

            label = "Mouse";
        };

        MEDIA {
            display-name = "Media";
            bindings = <
&none  &none          &none            &none         &none           &none                       &none              &none        &none                 &none                 &none        &bt BT_CLR_ALL
&none  &u_bootloader  &u_to_U_tapcmdh  &u_to_U_game  &u_to_U_base    &none                       &kp LG(TAB)        &kp LG(E)    &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none        &none
&none  &kp LEFT_GUI   &kp LEFT_ALT     &kp LCTRL     &kp LEFT_SHIFT  &none                       &ext_power EP_TOG  &kp C_PREV   &kp C_VOL_DN          &kp C_VOL_UP          &kp C_NEXT   &none
&none  &none          &kp RALT         &u_to_U_fun   &u_to_U_media   &none  &none    &none       &u_out_tog         &u_bt_sel_0  &u_bt_sel_1           &u_bt_sel_2           &u_bt_sel_3  &u_bt_sel_4
                                       &none         &none           &none  &none    &kp C_STOP  &kp C_PLAY_PAUSE   &kp C_MUTE   &none
            >;

            label = "Media";
        };

        NUM {
            display-name = "Num";
            bindings = <
&none  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp UNDER     &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET                      &none  &none           &none         &none            &none          &none
&none  &kp CARET         &kp NUMBER_7          &kp NUMBER_8  &kp NUMBER_9           &kp ASTERISK                           &none  &u_to_U_base    &u_to_U_game  &u_to_U_tapcmdh  &u_bootloader  &none
&none  &kp SEMICOLON     &kp NUMBER_4          &kp NUMBER_5  &kp NUMBER_6           &kp EQUAL                              &none  &kp LEFT_SHIFT  &kp LCTRL     &kp LEFT_ALT     &kp LEFT_GUI   &none
&none  &kp GRAVE         &kp NUMBER_1          &kp NUMBER_2  &kp NUMBER_3           &kp BACKSLASH      &kp PLUS     &none  &none  &u_to_U_num     &u_to_U_nav   &kp RALT         &none          &none
                                               &none         &kp PERIOD             &kp NUMBER_0       &kp MINUS    &none  &none  &none           &none
            >;

            label = "Num";
        };

        SYM {
            display-name = "Sym";
            bindings = <
&none  &none           &none            &none        &none                 &none                                      &none  &none           &none          &none            &none          &none
&none  &kp LEFT_BRACE  &kp AMPS         &kp ASTRK    &kp LEFT_PARENTHESIS  &kp RIGHT_BRACE                            &none  &u_to_U_base    &u_to_U_game   &u_to_U_tapcmdh  &u_bootloader  &none
&none  &kp COLON       &kp DOLLAR       &kp PERCENT  &kp CARET             &kp PLUS                                   &none  &kp LEFT_SHIFT  &kp LCTRL      &kp LEFT_ALT     &kp LEFT_GUI   &none
&none  &kp TILDE       &kp EXCLAMATION  &kp AT_SIGN  &kp HASH              &kp PIPE               &none        &none  &none  &u_to_U_sym     &u_to_U_mouse  &kp RALT         &none          &none
                                        &none        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDER    &none  &none  &none           &none
            >;

            label = "Sym";
        };

        FUN {
            display-name = "Fun";
            bindings = <
&none  &none    &none   &none   &none      &none                              &none  &none           &none          &none            &none          &none
&none  &kp F12  &kp F2  &kp F8  &kp F9     &kp PRINTSCREEN                    &none  &u_to_U_base    &u_to_U_game   &u_to_U_tapcmdh  &u_bootloader  &none
&none  &kp F11  &kp F4  &kp F5  &kp F6     &kp SCROLLLOCK                     &none  &kp LEFT_SHIFT  &kp LCTRL      &kp LEFT_ALT     &kp LEFT_GUI   &none
&none  &kp F10  &kp F1  &kp F2  &kp F3     &kp PAUSE_BREAK  &none      &none  &none  &u_to_U_fun     &u_to_U_media  &kp RALT         &none          &none
                        &none   &kp K_APP  &kp SPACE        &kp TAB    &none  &none  &none           &none
            >;

            label = "Fun";
        };
    };
};
